.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--action-color);
}

.header__logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header__logo--right-side {
  color: var(--logo-header-color);
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.footer__logo--right-side {
  color: var(--bg-color);
}
