.subscribe-form__wrapper {
  display: flex;
}

.subscribe-form__input {
  @include element-size(358px, 50px);
  margin-right: 12px;
  padding: 16px;
  background-color: transparent;
  border: 1px solid var(--subscribe-input-border-color);
  border-radius: 4px;
  color: var(--bg-color);

  &::placeholder {
    color: var(--footer-contact-link-color);
  }
}

.subscribe-form__btn {
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--bg-color);
  background-color: var(--action-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  padding: 10px 29px;
  display: flex;
  align-items: center;
}

.subscribe-form__btn-text {
  margin-right: 10px;
}

.subscribe-form__btn-icon {
  fill: var(--bg-color);
}
